<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <title>Create User</title>
    <!-- Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
</head>

<body>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo right">Logo</a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li>
                    <a href="/create-user">Create User</a>
                </li>
                <li>
                    <a href="/create-challenge">Create Challenge</a>
                </li>
                <li>
                    <a href="/challenges">View Challenges</a>
                </li>
                <li>
                    <a href="/user-profile">User Profile</a>
                </li>
                <li>
                    <a href="/api/users">User Json</a>
                </li>
            </ul>
        </div>
    </nav>
    <H1>View Challenges</H1>
    <div class="container">
        <div class="row">
            <div class="challenge-container">
                <!-- JAVASCRIPT GENERATED HERE -->
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <!-- Custom Scriot -->
    <script src="../js/challenge.js"></script>
</body>

</html>