<div class="container login-container">
  <div class="columns login-columns">
    <div class="column">

      <h2 class="subtitle has-text-centered">Login</h2>
      <div class="field is-grouped is-grouped-right">

        <p class="control login-control">
          <a class="button is-primary is-large login-button" href="/feed?user_id=3">
            Dorian
          </a>
        </p>
      </div>
      <div class="field is-grouped is-grouped-right">

        <p class="control login-control">
          <a class="button is-primary is-large login-button" href="/feed?user_id=4">
            Jessica
          </a>
        </p>
      </div>
      <div class="field is-grouped is-grouped-right">

        <p class="control login-control">
          <a class="button is-primary is-large login-button" href="/feed?user_id=2">
            Brandon
          </a>
        </p>
      </div>
      <div class="field is-grouped is-grouped-right">

        <p class="control login-control">
          <a class="button is-primary is-large login-button" href="/feed?user_id=1">
            Andrew
          </a>
        </p>
      </div>


  </div>
</div>
</div>
