<div class="container main-container">
  <div class="columns">
    <div class="column">
      <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
      <section class="section">
        <h1 class="title">{{challengeTitle}} - Points:{{pointsAvailable}}</h1>
        <h2 class="subtitle">{{challengeLocation}}</h2>
        <p>Description:</p>
        <p>{{challengeDescription}}<p>
          <a class="button is-primary" id="accept-challenge">Accept!</a>

      </section>
    </div>
  </div>
</div>

challenges.users.names