<div class="container login-container">
  <div class="columns login-columns">
    <div class="column">
      <div class="field">
        <label class="label">Login</label>
        <div class="control">
          <div class="select is-large login-select">
            <select id="login-users">
              <option id={{user-id}}>Dorian</option>
              <option id={{user-id}}>Andrew</option>
              <option id={{user-id}}>Jessica</option>
              <option id={{user-id}}>Brandon</option>
            </select>
          </div>
        </div>
      </div>

      <div class="field is-grouped is-grouped-right">

        <p class="control login-control">
          <a class="button is-primary is-large login-button">
            Login
          </a>
        </p>
      </div>


  </div>
</div>
</div>
