<section class="section">
  <div class="container main-container">
    <div class="columns">
      <div class="column">
        <div class="field">
          <label class="label">Challenge Name</label>
          <div class="control">
            <input class="input is-large" type="text" placeholder="Climb a mountain">
          </div>
        </div>

        <div class="field">
          <label class="label">Location</label>
          <div class="control">
            <input class="input is-large" type="email" placeholder="Mount Everest, Nepal">
          </div>
        </div>

        <div class="field">
          <label class="label">Description</label>
          <div class="control">
            <textarea class="textarea is-large" type="text" placeholder="Climb Mt. Everest in less than a week..."></textarea>
          </div>
        </div>

        <label class="label">Add Image</label>
        <div class="field has-addons">
          <div class="control">
            <input class="input is-large" type="text" placeholder="Upload an image">
          </div>
          <div class="control">
            <a class="button is-info is-large">
              File
            </a>
          </div>
        </div>

      <div class="field">
        <label class="label">Difficulty Level</label>
        <div class="control">
          <div class="select is-large">
            <select>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
        </div>
      </div>

      <div class="field is-grouped is-grouped-right">
        <p class="control">
          <a class="button is-light is-large">
            Cancel
          </a>
        </p>
        <p class="control">
          <a class="button is-primary is-large">
            Submit
          </a>
        </p>
      </div>

      </div>
    </div>
  </div>
</section>
